.gradle
/bin/
/vscode/
/.vscode/
.vscode/settings.json
/build/
/target/
/settins/
!gradle/wrapper/gradle-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/out/
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/